<!-- 


<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <i class="bi bi-exclamation-octagon me-1"></i>
  A simple danger alert with icon—check it out!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


 -->
<%-include("../partials/header.ejs") %>
<%-include("../partials/admin/navbar.ejs") %>
<%-include("../partials/admin/sidebar.ejs") %>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Resident</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Resident</li>
        <li class="breadcrumb-item active">Buy House</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h1 class="card-title">
              <%=resident.name%>
            </h1>

            <div class="pagetitle">
              <div class="card-body">
              </div>
            </div>
            <h5>
              <%=resident.cnic%>
            </h5>
            <h5>
              <%=resident.address%>
            </h5>



          </div>
        </div>

      </div>





      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available Houses</h5>
          <!-- Filter dropdown for paid/unpaid bills -->


          <!-- Table with hoverable rows -->
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">House No</th>
                <th scope="col">Block</th>
                <th scope="col">Action</th>

              </tr>
            </thead>

            <tbody>
              <% for (let i =0;i<houses.length;i++){ %>
              <form action="/admin/houses/buy" method="post">
                <tr>
                  <th scope="row">
                    <%=i+1%>
                  </th>

                  <td><%=houses[i].houseNo%></td>
                  <td><%=houses[i].block%></td>
                  <input type="hidden" name="residentId" value="<%=resident._id%>">
                  <td>
                    <button class="btn btn-primary btn-sm" name="houseId" type="submit" value="<%=houses[i]._id%>">Select
                    </button>
                  </td>
                </tr>
              </form>
              <% } %>
            </tbody>
          </table>
          <!-- End Table with hoverable rows -->

        </div>
      </div>
    </div>
    </div>
  </section>
</main>




</div>
</div>
</div>

</div>
</div>

</div>
</div>
</section>

</main>


<%-include("../partials/footer.ejs") %>