<%-include("../partials/header.ejs") %>
<%-include("../partials/admin/navbar.ejs") %>
<%-include("../partials/admin/sidebar.ejs") %>


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Unresolved Complaints</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
        <li class="breadcrumb-item">Complaints</li>
        <li class="breadcrumb-item active">Unresolved</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row-lg-6">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <% if (message){ %>
            <div class="hualert">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
            <% } %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Resident</th>
                  <th scope="col">Date</th>
                  <th scope="col">Address</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i =0;i<complaints.length;i++){ %>
                <tr>
                  <th scope="row">
                    <%= i+1 %>
                  </th>
                  <td><%=complaints[i].title%></td>
                  <td><%=complaints[i].resident.name%></td>
                  <td><%=new Date(complaints[i].date).toLocaleDateString()%></td>
                  <td><%=complaints[i].resident.address%></td>
                  <td>
                    <a href="/admin/complaints/<%=complaints[i]._id%>">
                      <button class="btn btn-primary btn-sm" name="complaintId" type="button">Details
                      </button>
                    </a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
</main>





<%-include("../partials/footer.ejs") %>