<%-include("../partials/header.ejs") %>
<%-include("../partials/admin/navbar.ejs") %>
<%-include("../partials/admin/sidebar.ejs") %>


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Unverified Residents</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Residents</li>
        <li class="breadcrumb-item active">Unverified</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row-lg-6">
      <div class="col-lg-12">





        <div class="card">
          <div class="card-body">
           

            <!-- Table with hoverable rows -->
            <form action="/admin/residents/verify" method="post">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">CNIC</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0;i<residents.length;i++){ %>
                  <tr>
                    <th scope="row"><%=i+1 %></th>
                    <td><%= residents[i].name %></td>
                    <td><%= residents[i].cnic %></td>
                    <td><%= residents[i].address %></td>
                    <td> <button class="btn btn-primary btn-sm" name="userId" type="submit" value="<%=residents[i].userId %>">Verify</button></td>
                  </tr>
                  <% } %>

                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

          </div>
        </div>



      </div>
    </div>

    </div>
    </div>
  </section>

</main>





<%-include("../partials/footer.ejs") %>