<%-include("../partials/header.ejs") %>
<%-include("../partials/admin/navbar.ejs") %>
<%-include("../partials/admin/sidebar.ejs") %>


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Verified visitors</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
        <li class="breadcrumb-item">Visitors</li>
        <li class="breadcrumb-item active">Verified</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row-lg-6">
      <div class="col-lg-12">





        <div class="card">
          <div class="card-body">


            <!-- Table with hoverable rows -->
             <!-- Table with hoverable rows -->
             <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">CNIC</th>
                  <th scope="col">RegisteredBy</th>
                  <th scope="col">Date</th>
                  <th scope="col">Detail</th>
                 
                </tr>
              </thead>
              <tbody>
                <% for(let i=0;i<visitors.length;i++){ %>
                <tr>
                  <th scope="row"><%=i+1 %></th>
                  <td><%= visitors[i].name %></td>
                  <td><%= visitors[i].cnic %></td>
                  <td><%= visitors[i].registeredBy.name %></td>
                  <td><%= new Date(visitors[i].date).toLocaleDateString() %></td>
                  <td> <a href="/admin/visitors/<%=visitors[i]._id%>">
                    <button class="btn btn-primary btn-sm" name="userId" type="submit" ">Detail </button></td>
                </a>
              </tr>
                </tr>
                <% } %>

              </tbody>
            </table>
            <!-- End Table with hoverable rows -->

          </div>
        </div>



      </div>
    </div>

    </div>
    </div>
  </section>

</main>





<%-include("../partials/footer.ejs") %>